body,html{
    background: black;
    margin: 0;
    padding: 0;
}

.container{
    background: #091120;
    width: 1200px;
    margin: 20px auto 0;
    color: white;
}

#contents{
    width: 100%;
    display: grid;
    grid-gap: 15px;
    overflow-y: auto;
}

#contents.champs-grid{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

#contents.items-grid{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item{
    color: #bedcf5;
    position: relative;
    text-align: center;
}

.item img{  
}

.item h2{
    padding: 5px;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    text-align: center;
    bottom: 0;
    /* background: rgba(13, 4, 51, 0.4); */
    margin: 0;
}

*{ box-sizing: border-box; }

.champion{
    max-width: 250px;
    height: 365px;
    color: #bedcf5;
    position: relative;
    background-size: cover;
    background-position: top center;
}

.champion:hover{
    background-size: 105% !important;
}

.champion h2{
    padding: 15px;
    font-size: 30px;
    width: 100%;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: rgba(13, 4, 51, 0.4);
    margin: 0;
}

.get{
    background: black;
    padding: 10px;
    position: relative;
}

.left,.right{
    margin: 5px;
    padding: 20px 10px 0;
    font-size: 27px;
}

.left{
    float: left;
}

label.search{
    position: absolute;
    left: 50%;
    bottom: -50px;
    padding: 7px;
    border-radius: 5px;
    transform: translate(-50%,0);
    border: none;
    font-size: 22px;
}

input.search{
    padding: 7px;
    border-radius: 5px;
    border: none;
}

.right{
    float: right;
}

.hover{
    cursor: pointer;
}

header{
    background: url("../images/header.jpg") black no-repeat;
    background-position-y: -10px;
    background-position-x: center;
    background-size: 100%;
    width: 100vw;
    height: 400px;
    position: relative;
}

header img{
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%)
}

.overlay{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 10;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: right;
}

.active-champion,.active-champion-wrapper{
    padding: 10px 30px 0;
    width: 1200px;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}

.active-champion-wrapper{
    width: 100vw;
    background-image: linear-gradient(to top, rgba(0,0,0,.9), rgba(65, 59, 59, 0.1));
}

.active-body{
    width: 80%;
    float: right;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    font-size: 16px;
    position: absolute;
    bottom: 60px;
    right: 40px;
}

.active-head{
    width: 15%;
    float: left;
    padding: 15px;
    display: inline-block;
}

.active-champion-img,.active-champion-img-wrapper{
    background-size: contain;
    width: 100%;
}

.active-champion-name{
    font-size: 85px;
    font-family: 'Pacifico', cursive;
    display: inline-block;
    padding: 50px;
    text-shadow: 2px 2px #c0c0c0;
    color: white;
}

.close{
    margin-right: 20px;
    padding: 4px 5px !important;
    width: 33px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    border-radius: 50%;
}

.close:hover{
    color: red;
}

.active-img{
    display: inline-block;
    margin: 8px 0 0 8px;
    width: 19px;
    height: 19px;
    background: url("../images/stat-icons-sprite.png");
}

.active-value{
    margin-left: 31px;
}

#health-img{ background-position-y: -150px;}
#health-regen-img{ background-position-y: -175px;}
#ad-img{ background-position-y: 0px;}
#ap-img{ background-position-y: -100px;}
#mana-img{ background-position-y: -200px;}
#mana-regen-img{ background-position-y: -225px;}
#as-img{ background-position-y: -50px;}
#ms-img{ background-position-y: -75px;}
#armor-img{ background-position-y: -25px;}
#magic-resist-img{ background-position-y: -125px;}

.item-details{
    display: none;
    z-index: 11;
    list-style-type: none;
    position: absolute;
    text-align: left;
    padding: 10px;
    background: #091120;
    border: 2px groove navy;
}

.item img:hover ~ .item-details,
.item h2:hover ~ .item-details{
    display: block;
}

/*{border: 1px solid red;}
